<%= form_with model: @profile do |f| %>
<p><%= f.label :first_name%>: <%= f.text_field :first_name %></p>

<%= f.label :last_name %>
<%= f.text_field :last_name %>
<br>
<%= f.label :bio %>
<%= f.text_field :bio %>
<br>
<%= f.label :mobile %>
<%= f.text_field :mobile %>
<br>
<%= f.fields_for :location do |location| %>
    <%= location.label :suburb %>  
    <%= location.text_field :suburb %>
    <br>
    <%= location.label :state %>
    <%= location.text_field :state %>
    <br>
    <%= location.label :postcode %>
    <%= location.number_field :post_code%>
    <br>
    <%= location.hidden_field :user_id, value: current_user.id%>
<% end %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.file_field :avatar %>
<%= f.submit %>
<% end %>
