<%# Main Profile Page, e.g Character List, Groups user is a part of, Events User is participating in %>
<h1>Profile</h1> 

<%= @user.email %>

<%# Character List Card %>
<%= link_to 'New Character' , new_character_path %>
<% @user.characters.each do |character| %>
  <p><%= link_to character.name, character %></p>
  <p><%= character.race %></p> 
  <p><%= character.alignment %></p>
  <p><%= character.class %></p>
  <p> Level: <%= character.level%></p>
<% end %>

<% @user.approved_groups.each do |group| %>
<%= group.name %>
<% end %>
<% if @user.has_role? :admin %>
  <p> You are an admin </p>
  <% @user.groups.each do |group| %>
    <% group.un_approved_users.each do |member| %>
      <%= member.email %>
      <%= member.id%>
      <%= form_with model: @groups , url: accept_request_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, value: member.id %>
        <%= f.hidden_field :group_id, value: group.id%> 
        <%= f.submit 'Accept'%>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%# 
<% @groups.group.each do |f| %>
<%# <%= f.user %>
<%# <% end %> %> %> %>

<%# Group List Card %>

<%# Event List Card %>