<%# Main Profile Page, e.g Character List, Groups user is a part of, Events User is participating in %>
<h1>Profile</h1> 
<style> 
  article{
    display: flex;
  }
  div{
    padding: 10px;
    border: 2px solid black;
    padding: 10px;
  }
</style>
<%= current_user.email %>
<% if current_user.profile_image.attached? == true %>
<%= cl_image_tag current_user.profile_image.key, crop: :scale, width: 100, cloud_name: 'tmoss41' %>
<% end %>
<article>
<%# Character List Card %>
<div> 
  <h1>My Characters </h1>
  <%= link_to 'New Character' , new_character_path %>
  <% @user.characters.each do |character| %>
    <h2><%= link_to character.name, character %></h2>
    <p><%= character.race %></p> 
    <p><%= character.alignment %></p>
    <p><%= character.character_class %></p>
    <p> Level: <%= character.level%></p>
    <%= link_to 'Edit', user_edit_character_path(character) %>
    <%= link_to 'Delete', user_delete_character_path(character), method: :delete %>
  <% end %>
</div>

<%# <% @user.approved_groups.each do |group| %>
<%# <p><%= group.name %></p>
<%# <% end %>
<% case current_user.has_role? :admin %>
<% when true %>
<div>
  <h1>Group Join Requests</h1>
  <p> You are an admin </p>
  <% current_user.groups.each do |group| %>
    <% group.un_approved_users.each do |member| if current_user.full_name_to_csv == group.admin_name %>
      <%= member.email %>
      <%= member.id%>
      <%= link_to 'Accept' , accept_request_path(user_id: member.id, group_id: group.id), method: :post %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% when false %>
<% end %>


<%# Group List Card %>
<%# If the user wants to find another group, this will link to the find.html.erb %>

  
<div>
  <%= form_with url: find_path, method: :post do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :suburb %>
    <%= f.text_field :state %>
    <%= f.submit 'Find a Group' %>
  <% end %>
  <h1> My Groups</h1>
  <%= link_to 'New Group', new_group_path %>
  <% current_user.approved_groups.each do |group| %>
      <h3><%=link_to group.name, group_path(group) %></h3>
      <% case current_user.has_role? :admin %>
      <% when true %>
        <%= link_to 'Delete', delete_group_path(group), method: :delete %>
      <% end %>
      <% group.users.each do |user| %>
        <p><%= user.full_name_to_csv%></p>
        <% end %>
    <% end %>
  <%# Authorizing Function, if User is an admin they will be able to create new groups %>
  

</div>

<%# Game List Card %>

<div>
  <h1> Games</h1>
    <%= link_to 'New Game', new_game_path if current_user.has_role? :admin %>
  <% current_user.approved_groups.each do |group| %>
    <h2><%= group.name %></h2>
    <% group.games.each do |game| %>  
      <h3><%= game.name %></h3>
      <p>Time of Game:<%= game.time %></p>
      <p>Date of Event: <%= game.date %></p>
      <% if current_user.has_role? :admin and group.admin_name == current_user.full_name_to_csv %>
      <%= link_to 'Delete' , game_path(game.id), method: :delete %>
      <%= link_to 'Edit' , edit_game_path(game) %>
      <% end %>
    <% end %>
  <% end %>
</div>

</article>