<%# Main Profile Page, e.g Character List, Groups user is a part of, Events User is participating in %>
<h1>Profile</h1> 
<%= @user.email %>
<article>
  <div class="container">
    <div class="row align-items-start top_card">
      <div class="col">
        <% case @user.profile.present? %>
        <% when false %>
          <%= link_to 'Create Profile', new_profile_path if @owner  %>
        <% else %>
          <div class='container-lg profile_card'>
            <% if @profile.avatar.attached? == true %>
              <%= cl_image_tag @profile.avatar.key, crop: :scale, width: 100, cloud_name: 'tmoss41' %>
            <% end %>
            <%= link_to 'Modify Profle', edit_profile_path(current_user.profile) if @owner %>
            <p><%= @profile.first_name %></p>
            <p><%= @profile.last_name %></p>
            <p><%= @profile.bio %></p>
            <p><%= @profile.mobile %></p>
            <% if @profile.location.present? %>
            <%= @profile.location.suburb %>
            <%= @profile.location.post_code %>
            <%= @profile.location.state %>
            <% end %>
            <%# <p><%= @profile.suburb %>
          </div>
      </div>
      <% if @owner %>
      <div class="col">
        <div class='container-lg find_card'>
          <%= form_with url: find_path, method: :get do |f| %>
            Suburb::<br>
            <p><%= f.text_field :suburb %></p>
            Post Code:<br>
            <p><%= f.number_field :post_code %></p>
            State: <br>
            <p><%= f.text_field :state %></p>
            <p><%= f.submit 'Find a Group' %></p>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
    <% end %>
  
  <%# Character List Card %>
  <div class = "container-md character_card"> 
    <h1>My Characters </h1>
    <br>
    <%= link_to 'New Character' , new_character_path if @owner%>
    <br>
    <section>
    <div class="container">
  <div class="row align-items-start">
      <% @characters.each do |character| %>
        <div class="character_scroll">
          <h2 class='character-name'><%= link_to character[1], character_url(character[0]) %></h2>
          <h4 class='character-race'><%= character[2] %></h4>
        </div>
      <% end %>
    </div>
    </div>
      </section>
  </div>

  <%# <% @user.approved_groups.each do |group| %>
  <%# <p><%= group.name %></p>
  <%# <% end %>


  <%# Group List Card %>
  <%# If the user wants to find another group, this will link to the find.html.erb %>

  
    
    <%# Authorizing Function, if User is an admin they will be able to create new groups %>
    
<% case @owner %>
<% when true%>
  <div class = "container-md character_card"> 
    <h1>My Groups </h1>
    <br>
    <%= link_to 'New Group', new_group_path if @owner%>
    <br>
    <section>
    <div class="container">
  <div class="row align-items-start">
      <% @approved_groups.each do |group| %>
        <div class="character_scroll">
          <h3><%=link_to group.name, group_path(group) %></h3>
        </div>
      <% end %>
    </div>
    </div>
      </section>
  </div>

  <div class = "container-md games_card"> 
    <h1>My Games </h1>
    <section>
    <div class="container">
  <div class="row align-items-start">
      <% @approved_groups.each do |group| %>
      <div class="game-group">
        <h2><%= group.name if group.games.present? %></h2>
      <% group.games.each do |game| %>  
        <strong><h5><%= game.name %></h5></strong>
        <p>Time of Game:<%= game.time.strftime("%H:%M:%S") %></p>
        <p>Date of Event: <%= game.date.strftime("%d/%m/%Y") %></p>
      </div>
      <% end %>
    <% end %>
    </div>
    </div>
    </section>
  </div>
      
<div class="container">
  <div class="row align-items-start">
    <div class="col">
    <div class="container-sm">
      <h1>Join Requests</h1>
      <% @pending.each do |group| %>
        <%= group %>
        <% end %>
        </div>
    </div>
    <div class="col">
      <div class="container-sm">
       <h1> My Invites </h1>
        <% @invites.each do |group| %>
          <%=group[0] %>
          <%= link_to 'Accept', accept_invite_path(user_id: @user.id, group_id: group[1]), method: :post %>
        <% end %>
        </div>
    </div>
  </div>
</div>
  <% end %>
</article>
