<h1> Edit</h1>
<h1>New Group</h1>
<%= form_with model: @group do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :suburb %>
<%= f.text_field :suburb %>
<%= f.label :state %>
<%= f.file_field :group_image %>
<%= f.text_field :state %>
<%= f.submit%>
<% end %>