<%# Sub Page of the Profile Page, Will show a list of all of the specific groups a user is a part of %>
<h1> My Groups</h1>
<%# Authorizing Function, if User is an admin they will be able to create new groups %>
<% if current_user.has_role? :admin %>
    <%= link_to 'New Group', new_group_path %>
<% end %>
<%# If the user wants to find another group, this will link to the find.html.erb %>
<%= form_with url: find_path, method: :post do |f| %>
<%= f.text_field :name %>
<%= f.submit 'Find a Group' %>
<% end %>
<% current_user.approved_groups.each do |group| %>
<%= group.name %>
<% end %>
