<h1>New Group</h1>
<%= form_with model: @group do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :suburb %>
<%= f.text_field :suburb %>
<%= f.label :state %>
<%= f.text_field :state %>
<%= f.submit%>
<%= f.hidden_field :admin_name, value: current_user.full_name_to_csv %>
<% end %>