<article class="show">
    <h1><%= @character.name %></h1>
    <p>Race: <%= @character.race%></p>
    <p>Level: <%= @character.level %></p>
    <p> Alignment: <%= @character.alignment %></p>
    <p> Class: <%= @character.character_class %></p>
</article>