<!DOCTYPE html>
<html>
  <head>
    <title>LocateParty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <header>
  <nav> <%# Nav Bar to different pages, currently commented out to avoid errors %>
  
    <% if user_signed_in? %>
      <span>Characters<%# <%= link_to 'Characters', characters_show-path > %></span>
      <span>Events<%# <%= link_to 'Events', show_events_path > %></span>
      <span><%= link_to 'Profile', profile_path(current_user) %></span>
      <% if !user_signed_in?%>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% end %>
    <% end %>
  </nav>
  <div id="login"> 
  
</div>

 </header>
  <body>  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
