<!DOCTYPE html>
<html>
  <head>
    <title>LocateParty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <header>
  <nav> <%# Nav Bar to different pages, currently commented out to avoid errors %>
    <% if user_signed_in? %>
      <span>Characters<%# <%= link_to 'Characters', characters_show-path > %></span>
      <span>Groups<%# <%= link_to 'Groups' show_groups_path > %></span>
      <span>Events<%# <%= link_to 'Events', show_events_path > %></span>
    <% end %>
  </nav>
 </header>
  <body>  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
